In [1]:
import os
import pandas as pd

In [2]:
samples_to_retain = pd.read_csv("../../data/RNAseq_data/log_tpm.csv",index_col=0).columns

In [3]:
# define file name of the export file
file_name = "FeatureCounts.tsv"

In [4]:
DF_Counts_1=pd.DataFrame()

os.chdir("../../data/AssemblyPipeline_Results/Part_1/featureCounts/")


for file in os.listdir():
    if file.endswith('cds.txt'):
        sample=file[:-8]

        DF_Counts_1[sample]=None

        infile=open(file,'r')

        for line in infile:

            if line.startswith('b'):
                gene=line.split('\t')[0]

                count=line.split('\t')[-1][:-1]

                DF_Counts_1.loc[gene,sample]=count

        infile.close()

In [5]:
DF_Counts_2=pd.DataFrame()

os.chdir("../../Part_2/DDB_SD_02_part1/featureCounts/")

for file in os.listdir():
    if file.endswith('cds.txt'):
        sample=file[:-8]

        DF_Counts_2[sample]=None

        infile=open(file,'r')

        for line in infile:

            if line.startswith('b'):
                gene=line.split('\t')[0]

                count=line.split('\t')[-1][:-1]

                DF_Counts_2.loc[gene,sample]=count

        infile.close()

In [6]:
DF_Counts_3=pd.DataFrame()

os.chdir("../../DDB_SD_02_part2/featureCounts/")

for file in os.listdir():
    if file.endswith('cds.txt'):
        sample=file[:-8]

        DF_Counts_3[sample]=None

        infile=open(file,'r')

        for line in infile:

            if line.startswith('b'):
                gene=line.split('\t')[0]

                count=line.split('\t')[-1][:-1]

                DF_Counts_3.loc[gene,sample]=count

        infile.close()

In [7]:
DF_Counts = pd.concat([DF_Counts_1, DF_Counts_2, DF_Counts_3], axis=1)
DF_Counts = DF_Counts[samples_to_retain]

In [8]:
DF_Counts

,PD_117_R10_S05#,PD_117_R11_S05#,PD_117_R12_S05#,PD_117_R13_S05#,PD_117_R14_S05#,PD_117_R15_S05#,PD_117_R16_S05#,PD_117_R5_S05#1,PD_117_R6_S05#1,PD_117_R7_S05#1,PD_117_R8_S05#1,PD_117_R9_S05#1
b0001,1697,851,816,716,863,705,558,1686,1621,1715,1484,1903
b0002,5824,18921,14040,14809,30383,20090,18311,6369,6703,7001,6212,5432
b0003,2199,5286,4213,4259,7804,8052,8059,2170,2351,2433,2359,2391
b0004,2535,4549,4344,4073,7100,7184,7412,2382,2343,2465,2819,2974
b0005,56,158,141,176,191,216,175,48,65,53,45,44
...,...,...,...,...,...,...,...,...,...,...,...,...
b4399,306,337,314,290,315,322,297,385,346,386,309,291
b4400,346,207,187,203,167,177,156,406,352,391,358,330
b4401,7386,5003,5521,5615,5588,5240,5135,8090,7758,7998,7105,7596
b4402,25,24,26,20,33,35,28,26,22,20,25,22
b4403,225,189,141,178,219,196,216,193,216,201,223,204

In [9]:
os.chdir("../../../../RNAseq_data/")

DF_Counts.to_csv(file_name,  sep="\t")